<div class="container">
    Поиск: <input ng-model="query">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Найминование</th>
				<th>Количество остатка</th>
				<th>количество</th>
				<th>Заказать</th>
			</tr>
		</thead>
		<tr ng-repeat="item in items | filter:query">
			<td ng-click="showMore(item)" class="forclick">{{item.name}}</td>
			<td ng-model="items">{{item.value}}</td>
			<td>
				<select class="form-control" ng-model="item.order" ng-options="item for item in opt(item)"></select>
			</td>
			<td><button class="btn btn-default" ng-click="showAll(item)">Заказать</button></td>

		</tr>
	</table>
</div>

<div ng-include="'partials/modal.html'"></div>
